@charset "UTF-8";
#smartphones{
  margin-top: 5em;
  background: url(../assets/illustration.svg);
}
section {
  & header{
    & strong{
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
      letter-spacing: .08rem;
      text-transform: uppercase;
      color: var(--brand-color-primary);
    }
    & h2{
      margin-top: .5rem;
    }
  }
  & p{
    margin-top: .5rem;
    color: var(--text-color-secundary);
  }
}
#about {
  background-color: var(--surface-color);
  & .even-columns{
    gap: 2rem;
  }
}
@media (width >=80em) {
  #smartphones {
  display: none;
  }
}