footer {
  background-image: url(../assets/Background_Contacts.png);
  background-size: cover;
}
#purple {
  color: var(--purple);
}
.contato {
  background-color: var(--gray-300);
  border-radius: 10px;
}
#last{
  margin-bottom: 120px;
}
.footerContainer{
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.seta {
  width: 28px;
}
a {
  display: flex;
  text-decoration: none;
  color: var(--gray-500);
  font-family: 'Maven Pro';
  padding: 15px;
  width: 360px;
}
a > * {
  display: grid;
}
a:hover {
  border: 2px solid var(--blue);
  border-radius: 10px;
}
a > h5 {
  margin-right: auto;
  padding-inline: 15px;
  margin-block: auto;
  text-align: start;
}