header {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
}
#profileimg {
  position: relative;
  width: 150px;
  padding: 5px;
  border: 2px var(--red) solid;
  border-radius: 50%;
  object-fit: cover;
}
#code {
  width: 50px;
  position: absolute;
  top: 205px;
  right: 600px;
}
strong {
  color: var(--red);
}
#tags {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
#tags span {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 25px;
  font: var(--text-md) var(--gray-500);
  background-color: var(--gray-300);
  gap: 8px;
}
#tags span img{
  width: 28px;
}
#tags span p {
  display: inline;
}
