header {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
}
#profile{
  position: relative;
}
.container{
  display: flex;
  justify-content: center;
  width: 680px;
  margin: auto;
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  color: var(--gray-600);
  font: var(--title-lg);
  margin-bottom: 10px;
}
.container h2 {
  color: var(--gray-500);
  font: var(--subtitle);
}
.container p {
  color: var(--gray-400);
  font: var(--text-sm);
}
#profileimg {
  width: 150px;
  padding: 5px;
  border: 2px var(--red) solid;
  border-radius: 50%;
  object-fit: cover;
}
#code {
  width: 50px;
  position: absolute;
  top: 230px;
  right: 270px;
}
strong {
  color: var(--red);
}
#tags {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
#tags span {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 25px;
  font: var(--text-md) var(--gray-500);
  background-color: var(--gray-300);
  gap: 8px;
}
#tags span img{
  width: 28px;
}
#tags span p {
  display: inline;
}
